@model App.Models.Post
@{
    ViewBag.Title = "Post";
    ViewBag.SubTitle = "Nieuwe";
    ViewBag.Description = "Aanmaak van een nieuwe post";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12" id="libraries-list">
        <div class="panel panel-default">
            <div class="panel-heading">
                Aanmaak van een nieuwe post
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Aanmaak van een nieuwe post</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Title)
                            @Html.TextBoxFor(m => m.Title, new { @class= "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Synopsis)
                            @Html.TextAreaFor(m => m.Synopsis, new { @class= "form-control", rows = 4, cols = 50 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Body)
                            @Html.TextAreaFor(m => m.Body, new { @class= "form-control summernote", rows = 12, cols = 50 })
                        </div>
                        @Html.ActionLink("Terug naar het overzicht", "Index", new { }, new { @class= "btn btn-default" })
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </div>      
</div>