@* Sidebar, on the left in the backoffice *@
<aside id="sidebar" class="sidebar-push-left">
    <nav id="main-navigation">
        <ul>
            <li class="active">
                <a href="@Url.Action("Index", "Home")" title="">
                    <span class="fa fa-dashboard"></span>
                    <span class="label-menu">Dashboard</span>
                </a>
            </li>
            <li class="submenu">
                <a href="#" title="">
                    <span class="fa fa-calendar"></span>
                    <span class="label-menu">Mediatheken</span>
                    <span class="pull-right arrow fa fa-chevron-right"></span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Library")" title="All academicyears">
                            <span class="label-menu">Alle mediatheken</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Library")" title="">
                            <span class="label-menu">Nieuwe mediatheek</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#" title="">
                    <span class="fa fa-newspaper-o"></span>
                    <span class="label-menu">Posts</span>
                    <span class="pull-right arrow fa fa-chevron-right"></span>
                </a>
                <ul>
                    <li>                        
                        <a href="@Url.Action("Index", "Post")" title="All posts">
                            <span class="label-menu">Alle Posts</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Post")" title="">
                            <span class="label-menu">Nieuwe Post</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#" title="">
                    <span class="fa fa-book"></span>
                    <span class="label-menu">Categorieën</span>
                    <span class="pull-right arrow fa fa-chevron-right"></span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Category")" title="Alle categorieën">
                            <span class="label-menu">Alle categorieën</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Category")" title="">
                            <span class="label-menu">Nieuwe categorie</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#" title="">
                    <span class="fa fa-question"></span>
                    <span class="label-menu">FAQs</span>
                    <span class="pull-right arrow fa fa-chevron-right"></span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "FAQ")" title="Alle FAQs">
                            <span class="label-menu">Alle FAQs</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "FAQ")" title="">
                            <span class="label-menu">Nieuwe FAQs</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#" title="">
                    <span class="fa fa-users"></span>
                    <span class="label-menu">Gebruikers</span>
                    <span class="pull-right arrow fa fa-chevron-right"></span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "User")" title="">
                            <span class="label-menu">Alle gebruikers</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Role")" title="">
                            <span class="label-menu">Alle rollen</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Role")" title="">
                            <span class="label-menu">Nieuwe rol</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
