@model IEnumerable<App.Models.Identity.ApplicationRole>
@Html.AntiForgeryToken()
<div class="panel panel-default">
	<div class="panel-body">
		@if (Model != null && Model.Count() > 0)
		{
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Created</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var role in Model)
						{
							<tr data-id="role-@role.Id">
								<td>@role.Name</td>
								<td>@role.Description</td>
								<td>@role.CreatedAt</td>
								<td>
									<a href="@Url.Action("Edit", new { id = @role.Id })" title="Edit Mediatheek: @role.Name"><span class="fa fa-edit"></span></a>
									<a 	class="confirm-link"
										data-id="@role.Id" 
										data-name="@role.Name"
										data-cat = "role"
										data-action="delete"  
										data-update-target="#roles-list" 
										data-update-href="@Url.Action("Index", "Role")"
										href="@Url.Action("Delete", new { id = @role.Id })" 
										title="Delete Mediatheek: @role.Name"><span class="fa fa-trash"></span></a>
									@if (@role.DeletedAt != null)
                                    {
                                        <a 	class="confirm-link"
										data-id="@role.Id" 
										data-name="@role.Name"
										data-cat = "role"
										data-action="softundelete"  
										data-update-target="#roles-list" 
										data-update-href="@Url.Action("Index", "Role")"
										href="@Url.Action("SoftUnDelete", new { id = @role.Id })" 
										title="Soft UnDelete Role: @role.Name"><span class="fa fa-eye-slash"></span></a>
                                    }
                                    else
                                    {
                                        <a 	class="confirm-link"
										data-id="@role.Id" 
										data-name="@role.Name"
										data-cat = "role"
										data-action="softdelete"  
										data-update-target="#roles-list" 
										data-update-href="@Url.Action("Index", "Role")"
										href="@Url.Action("SoftDelete", new { id = @role.Id })" 
										title="Soft Delete Role: @role.Name"><span class="fa fa-eye"></span></a>
                                    }
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
		else
        {
            <p>No role in the database!</p>
        }
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Create a new role", "Create", new { }, new { @class = "btn btn-primary" })
    </div>
</div>