@model App.Models.Identity.ViewModels.RoleViewModel
@{
    ViewBag.Title = "Role";
    ViewBag.SubTitle = @Model.Name;
    ViewBag.Description = "Wijzig de informatie van de role @Model.Name";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Wijzigen van een bestaande Role
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <fieldset>
                        <legend class="hidden">Wijzigen van een bestaande Role</legend>
                        @Html.ValidationSummary("", new {@class="alert-danger"})
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class= "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextBoxFor(m => m.Description, new { @class= "form-control" })
                        </div>
                        @Html.ActionLink("Terug naar het overzicht", "Index", new { }, new { @class= "btn btn-default" })
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </div>      
</div>