@model IEnumerable<App.Models.FAQ>
@Html.AntiForgeryToken()
<div class="panel panel-default">
	<div class="panel-body">
		@if (Model != null && Model.Count() > 0)
		{
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Question</th>
							<th>Answer</th>
							<th>Library</th>
							<th>Created</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var faq in Model)
						{
							<tr data-id="faq-@faq.Id">
								<td>@faq.Question</td>
								<td>@Html.Raw(@faq.Answer)</td>
								<td>@if(@faq.Library != null){@faq.Library.Name}</td>
								<td>@faq.CreatedAt</td>
								<td>
									<a href="@Url.Action("Edit", new { id = @faq.Id })" title="Edit FAQ: @faq.Question"><span class="fa fa-edit"></span></a>
									<a 	class="confirm-link"
										data-id="@faq.Id" 
										data-name="@faq.Question"
										data-cat = "faq"
										data-action="delete"  
										data-update-target="#faqs-list" 
										data-update-href="@Url.Action("Index", "FAQ")"
										href="@Url.Action("Delete", new { id = @faq.Id })" 
										title="Delete Mediatheek: @faq.Question"><span class="fa fa-trash"></span></a>
									@if (@faq.DeletedAt != null)
                                    {
                                        <a 	class="confirm-link"
										data-id="@faq.Id" 
										data-name="@faq.Question"
										data-cat = "faq"
										data-action="softundelete"  
										data-update-target="#faqs-list" 
										data-update-href="@Url.Action("Index", "FAQ")"
										href="@Url.Action("SoftUnDelete", new { id = @faq.Id })" 
										title="Soft UnDelete Mediatheek: @faq.Question"><span class="fa fa-eye-slash"></span></a>
                                    }
                                    else
                                    {
                                        <a 	class="confirm-link"
										data-id="@faq.Id" 
										data-name="@faq.Question"
										data-cat = "faq"
										data-action="softdelete"  
										data-update-target="#faqs-list" 
										data-update-href="@Url.Action("Index", "FAQ")"
										href="@Url.Action("SoftDelete", new { id = @faq.Id })" 
										title="Soft Delete Mediatheek: @faq.Question"><span class="fa fa-eye"></span></a>
                                    }
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
		else
        {
            <p>No FAQs in the database!</p>
        }
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Create a new FAQ", "Create", new { }, new { @class = "btn btn-primary" })
    </div>
</div>