@model App.Models.Library
@{
    ViewBag.Title = "Mediatheek";
    ViewBag.SubTitle = @Model.Name;
    ViewBag.Description = "Wijzig de informatie van de mediatheek @Model.Name";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12" id="libraries-list">
        <div class="panel panel-default">
            <div class="panel-heading">
                Wijzigen van een bestaande mediatheek
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Wijzigen van een bestaande mediatheek @Model.Name</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class= "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Code)
                            @Html.TextBoxFor(m => m.Code, new { @class= "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new { @class= "form-control", rows = 4, cols = 50 })
                        </div>
                        @Html.ActionLink("Terug naar het overzicht", "Index", new { }, new { @class= "btn btn-default" })
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </div>      
</div>