@model IPagedList<App.Models.LibraryItem>
@using PagedList
@*
  "Count": 20,
  "PageCount": 3,
  "TotalItemCount": 58,
  "PageNumber": 1,
  "PageSize": 20,
  "HasPreviousPage": false,
  "HasNextPage": true,
  "IsFirstPage": true,
  "IsLastPage": false,
  "FirstItemOnPage": 1,
  "LastItemOnPage": 20
*@

@if (Model != null & Model.Count() > 0)
{
    <section class="paged-content">
        @foreach (var libraryItem in Model)
        {
            <li class="libraryitem" data-id="@libraryItem.Id">
                <h3>@libraryItem.Title</h3>
                <div class="libraryitem__meta">
                    <span class="meta__author">@libraryItem.Author</span>
                    <span class="meta__item-form">@libraryItem.Type</span>
                    <span class="meta__year">@libraryItem.Year</span>
                </div>
            </li>
        }
    </section>
    <section class="paged-navigation">
        <ajaxpager current-page="@Model.PageNumber" 
        total-pages="@Model.PageCount" 
        search-form-target="#libraryitem-simple-search-form"
        update-link="~/LibraryItem/Index/" 
        update-target="#libraryitems-list"></ajaxpager>
    </section>
}
else
{
    <div class="well well-sm">
        Geen items gevonden!
    </div>
}