<!doctype html>
<!-- [if lt IE 7]><html dir="ltr" lang="nl-be" class="no-js lt-ie7"><![endif]-->
<!-- [if lt IE 8]><html dir="ltr" lang="nl-be" class="no-js lt-ie8"><![endif]-->
<!-- [if lt IE 9]><html dir="ltr" lang="nl-be" class="no-js lt-ie9"><![endif]-->
<!-- [if lt IE 10]><html dir="ltr" lang="nl-be" class="no-js lt-ie10"><![endif]-->
<!-- [if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="nl-be" class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title - Mediatheken - Arteveldehogeschool</title>
        <meta name="description" content="@ViewBag.Description">
        <meta name="keywords" content="@ViewBag.Keywords">
        <meta name="author" content="@ViewBag.Author">
        <meta name="copyright" content="Copyright 2003-16 Arteveldehogeschool. Alle rechten voorbehouden.">
    
        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
            <link rel="stylesheet" href="~/css/backoffice/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
            <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
                  asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
                  asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" />
            <link rel="stylesheet" href="~/css/vendor/summernote.css" />
            <link rel="stylesheet" href="~/css/backoffice/site.css" asp-file-version="true" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        </environment>
    </head>
    <body>
        @* Header Partial *@
        @Html.Partial("_Header")
    
        @* Sidebar Partial *@
        @Html.Partial("_Sidebar")
    
        @* Main Content *@
        <main id="main" role="main">
            <header id="main-header" class="clearfix">
                <h1>@ViewBag.Title <small>@ViewBag.SubTitle</small></h1>
            </header>
            <div>
                <ol class="breadcrumb">
                    <li><a href="#"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li><a href="#">Fake 1</a></li>
                    <li class="active">Fake 2</li>
                </ol>
            </div>
            
            @* Alert Service container *@
            <div class="row" id="alert-service-container"></div>
    
            @* Render the body of the view *@
            @RenderBody()
        </main>
        
        @* Modal Popup Partial *@
        @Html.Partial("_Modal")
        
        @* Scroll to the top of the page *@
        <span class="scrolltotop">Scroll To Top</span>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/hammer.js/hammer.js"></script>
            <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
            <script src="~/js/site.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js"
                    asp-fallback-src="~/lib/hammer.js/hammer.js"
                    asp-fallback-test="window.Hammer">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                    asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                    asp-fallback-test="window.Hammer && window.Hammer.Instance">
            </script>
            <script src="~/js/backoffice/sidebar.js" asp-file-version="true"></script>
            <script src="~/js/backoffice/services/srv_alert.js" asp-file-version="true"></script>
            <script src="~/js/backoffice/services/srv_security.js" asp-file-version="true"></script>
            <script src="~/js/backoffice/services/srv_ajax-confirm.js" asp-file-version="true"></script>  
            <script src="~/js/vendor/summernote.js" asp-file-version="true"></script>          
            <script src="~/js/backoffice/site.js" asp-file-version="true"></script>
        </environment>
        
        @* Alert Service Partial *@
        @Html.Partial("_Alert")
       
        @* Activate Modal Service & WYSIWYG *@
        <script>
            window.AlertService = new AlertService('#alert-service-container');
            window.ConfirmService = new ConfirmService('.confirm-link', '#confirm-dialog');
            $('.summernote').summernote();
        </script>

        @* Custom scripts specified in the views*@
        @RenderSection("scripts", required: false)
    </body>
</html>
